<div class="grid place-items-center content-center py-8 h-screen">
    <h1 class="w-full text-center uppercase text-5xl font-bold  text-primary mb-8">Muchas Gracias!</h1>
    <h1 class="w-full text-center text-3xl font-bold  text-primary mb-8">Tu pago ha sido procesado con éxito.</h1>
    <h1 class="w-full text-center text-3xl font-bold  text-primary">Completa tu formulario y envíalo para finalizar tu registro</h1>
    <div class="w-full mx-auto grid place-items-center content-center mb-8">
        <div class="flex flex-wrap gap-4 align-middle justify-center items-center">
            <a href="https://forms.gle/iqjvNqtFrRthQg2d9"><button type="button" class="my-8 transition ease-in-out text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-16 py-2.5  mb-2 uppercase">Regresar al formulario</button></a>
        </div>
    </div>
</div>

