<div class="container mx-auto py-12">
    <h1 class="w-full text-center py-8 text-4xl font-normal uppercase tracking-tight leading-none text-white md:text-4xl lg:text-5xl">premiación mejores scores <br> <span class="font-normal text-3xl">(por Foursome)</span></h1>
    <div class="py-8">
        <div class="flex flex-wrap align-middle justify-center">
            <div class="w-1/2 p-4 lg:p-6 ">
            <h4 class="text-white font-bold text-2xl md:text-3xl uppercase text-center">1<sup>er</sup> lugar</h4>
            </div>
            <div class="w-1/2 p-4 text-right ">
                <h4 class="text-white font-bold text-2xl md:text-3xl uppercase text-center">$10,000 USD</h4>
            </div>
        </div>
        <div class="flex flex-wrap align-middle justify-center">
            <div class="w-1/2 p-4 lg:p-6 ">
            <h4 class="text-white font-bold text-2xl md:text-3xl uppercase text-center">2<sup>do</sup> lugar </h4>
            </div>
            <div class="w-1/2 p-4 text-right ">
                <h4 class="text-white font-bold text-2xl md:text-3xl uppercase text-center">$5,000 USD</h4>
            </div>
        </div>
        <div class="flex flex-wrap align-middle justify-center">
            <div class="w-1/2 p-4 lg:p-6 ">
                <h4 class="text-white font-bold text-2xl md:text-3xl uppercase text-center">3<sup>er</sup> lugar</h4>
            </div>
            <div class="w-1/2 p-4 text-right ">
                <h4 class="text-white font-bold text-2xl md:text-3xl uppercase text-center">$2,500 USD</h4>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center p-4">
        <h4 class="text-white font-normal text-2xl md:text-3xl uppercase text-center">Subastas y rifas durante el evento</h4>
    </div>
    <div class="flex flex-wrap align-middle justify-center bt-4 pb-8">
        <h4 class="text-white font-normal text-xl md:text-3xl uppercase text-center"><span class="font-bold">Premios:</span>  <br> Closest to the pin, longest drive y precision drive </h4>
    </div>
</div>
