<div class="container mx-auto m-8 border-red-500 border">
    <h1 class="w-full text-center uppercase text-5xl font-bold my-8 text-white">premiación mejores scores</h1>
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
        <h4 class="text-white font-bold text-3xl uppercase text-center">1er lugar</h4>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right border border-blue-500">
            <h4 class="text-white font-bold text-3xl uppercase text-center">$10,000 USD</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
        <h4 class="text-white font-bold text-3xl uppercase text-center">2do lugar</h4>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right border border-blue-500">
            <h4 class="text-white font-bold text-3xl uppercase text-center">$5,000 USD</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
            <h4 class="text-white font-bold text-3xl uppercase text-center">3er lugar</h4>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right border border-blue-500">
            <h4 class="text-white font-bold text-3xl uppercase text-center">$2,500 USD</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center p-4">
        <h4 class="text-white font-bold text-3xl uppercase text-center">Subastas y rifas durante el evento</h4>
    </div>
    <div class="flex flex-wrap align-middle justify-center bt-4 pb-8">
        <h4 class="text-white font-bold text-3xl uppercase text-center">Premios: <br> Closest to the pin, longest drive y precision drive </h4>
    </div>
</div>
