---
import caboreal_section_img from '../../../src/img/caboreal_section_img1.jpg';
import caboreallogow from '../../../public/CABOREAL_white1.svg';
---

<div class="container mx-auto m-8 py-16">
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-6">
            <div class="h-72 grid place-items-center content-center relative overflow-hidden">
                <img class="w-full h-72 object-cover" src={caboreal_section_img.src} alt="Cabo real golf club">
                <div class="absolute inset-0 flex justify-center items-center">
                    <img src={caboreallogow.src} alt="" class="max-w-44 opacity-60">
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-4 lg:p-6 flex flex-col items-start ">
            <h5 class="text-3xl font-bold tracking-tight text-primary uppercase">cabo real golf club</h5>
            <p class="py-5 font-normal text-xl text-primary">Sirviendo como la pieza central de un proyecto de resort y residencial de 2,800 acres con 3.2 millas de frente de playa, El Club de Golf Cabo Real cuenta con un campo de estilo objetivo y temática múltiple diseñado por Robert Trent Jones, Jr.</p>
            <a href="https://questrogolf.com/cabo-real/" target="_blank"><button type="button" class="transition ease-in-out text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-16 py-2.5  mb-2 uppercase">sitio web cabo real</button></a>
        </div>
        
    </div>
</div>