<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="grid place-items-center content-center">
    <stripe-buy-button
  buy-button-id="buy_btn_1OyfVvP0wgXra6FLsE1Hl59h"
  publishable-key="pk_live_51OwXnIP0wgXra6FLhmwnv4fSPl8VXlOxNuWL0FuSgDCBsud1MYg1whH04K6lTPBfmznSRWH2EeB3VQatTvHozUpp00mZTmtiqi">
</stripe-buy-button>
</div>
