<div class="grid place-items-center h-60 content-center">
    <h1 class="w-full text-center uppercase text-3xl font-bold  text-primary">Únete a Nosotros como Patrocinador Exclusivo</h1>
    <div class="w-full mx-auto grid place-items-center content-center mb-8">
        <a href="mailto:torneodegolf@landandbuilding.com"><button type="button" class="my-8 transition ease-in-out text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-16 py-2.5  mb-2 uppercase">Más información</button></a>
    </div>
</div>

