<div class="container mx-auto m-8">
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 flex flex-col items-end ">
            <h5 class="text-3xl font-bold tracking-tight text-primary text-right">Participa en este Torneo con Causa</h5>
            <p class="py-5 font-normal text-xl text-right text-primary">Los beneficiarios de este torneo será el Telebachillerato #39 de Cabo San Lucas en el municipio de Los Cabos, el cual opera desde hace más de diez años con muchas necesidades básicas y mínimas indispensables para el óptimo aprovechamiento de los estudiantes.</p>
            <button type="button" class=" text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium text-sm px-16 py-2.5  mb-2 uppercase">Ver video</button>
        </div>
        <div class="w-full sm:w-1/2 p-6">
            <div class="h-72 grid place-items-center content-center">
                <div class="w-full h-72 bg-center bg-no-repeat bg-cover bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/telebachillerato39.jpg')]">
                </div>
            </div>
        </div>
    </div>
</div>