
<div class="container mx-auto p-5">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <h4 class="font-semibold text-white">1er Torneo de golf de Desarrolladores</h4>
      <h5 class="mt-0 mb-2 text-white">
        presentado por Land & Building
      </h5>
      <div class="flex align-center justify-start mt-6">
        <!-- Facebook -->
        <a href="https://www.facebook.com/landandbuildingmagazine" target="_blank"><button
          class="flex bg-white text-blue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 transition ease-in-out"
          type="button"
        >
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
        </svg>
          </button></a>
          <!-- LinkedIn -->
          <a href="https://www.linkedin.com/company/landandbuilding/" target="_blank"><button
          class="flex bg-white  shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 transition ease-in-out"
          type="button"
        >
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
          <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
        </svg>
        </button></a>
        <!-- X -->
        <a href="https://twitter.com/building_land" target="_blank"><button
          class="flex bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 transition ease-in-out"
          type="button">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"/>
          </svg>
          </button></a>
        <!-- YT -->
        <a href="https://www.youtube.com/channel/UC48_Daqf2bNtxttMoJbacig" target="_blank">
        <button
          class="flex bg-white text-gray-900 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 transition ease-in-out"
          type="button">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M21.7 8.037a4.26 4.26 0 0 0-.789-1.964 2.84 2.84 0 0 0-1.984-.839c-2.767-.2-6.926-.2-6.926-.2s-4.157 0-6.928.2a2.836 2.836 0 0 0-1.983.839 4.225 4.225 0 0 0-.79 1.965 30.146 30.146 0 0 0-.2 3.206v1.5a30.12 30.12 0 0 0 .2 3.206c.094.712.364 1.39.784 1.972.604.536 1.38.837 2.187.848 1.583.151 6.731.2 6.731.2s4.161 0 6.928-.2a2.844 2.844 0 0 0 1.985-.84 4.27 4.27 0 0 0 .787-1.965 30.12 30.12 0 0 0 .2-3.206v-1.516a30.672 30.672 0 0 0-.202-3.206Zm-11.692 6.554v-5.62l5.4 2.819-5.4 2.801Z" clip-rule="evenodd"/>
          </svg>
        </button></a>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="flex flex-wrap items-top m-6">
        <div class="w-full lg:w-4/12 px-4 ml-auto">
          <span class="block uppercase text-sm font-bold mb-2 text-white"
            >Torneo</span
          >
          <ul class="list-unstyled">
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="https://forms.gle/MgqDk1XRPigAcfJD8" target="_blank">Inscripci&oacute;n</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="https://questrogolf.com/cabo-real/" target="_blank">Club Cabo Real</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="">Conviértete en patrocinador</a>
            </li>
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="mailto:torneodegolf@landandbuilding.com"
                >Contacto</a>
            </li>
          </ul>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <span class="block uppercase text-white text-sm font-bold mb-2"
            >Land & Building Magazine</span
          >
          <ul class="list-unstyled">
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="https://landandbuilding.com/" target="_blank"
                >Sitio Web</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="">T&eacute;rminos &amp; Condiciones</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-gray-500  block pb-2 text-sm"
                href="">Pol&iacute;tica de Privacidad</a
              >
            </li>
            <li>
              <a
                class="text-white hover:text-gray-500   block pb-2 text-sm"
                href="mailto:torneodegolf@landandbuilding.com">Contacto</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-6 border-gray-100" />
  <div class="flex flex-wrap items-center md:justify-between justify-center">
    <div class="w-full md:w-4/12 px-4 mx-auto text-center">
      <div class="text-sm text-gray-200 font-semibold py-1">
        <a
        href="http://www.landandbuilding.com/"
        class="text-gray-200 hover:text-gray-300 hover:underline">Land&Building</a> © 2024  
      </div>
      <small class="text-blue-800">Site coded with &hearts; and pride by <a href="https://github.com/ko2m0" class="underline" target="_blank">KoZm0</a></small>
    </div>
  </div>
</div>
