<div class="container mx-auto m-8 border-red-500 border">
    <h1 class="w-full text-center uppercase text-5xl font-bold my-8 text-primary">premios hole in one</h1>
    <!-- 1er premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
        <h4 class="text-primary text-right font-bold text-4xl uppercase">Primer Premio</h4>
        <p class="text-primary text-right text-2xl font-semibold uppercase">Departamento de Lujo <br> Cabo San Lucas, BCS</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right border border-blue-500">
            <img src="" alt="img here">
        </div>
    </div>
    <!-- 2do premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
            <img src="" alt="img here">
        </div>
        <div class="w-full sm:w-1/2 p-6 border border-blue-500">
            <h4 class="text-primary font-bold text-4xl uppercase">Segundo Premio</h4>
        <p class="text-primary text-2xl font-semibold uppercase">Sedán BMW 2024</p>
        </div>
    </div>
    <!-- 3er premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
        <h4 class="text-primary text-right font-bold text-4xl uppercase">Tercer Premio</h4>
        <p class="text-primary text-right text-2xl font-semibold uppercase">suv bmw x1 2024</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right border border-blue-500">
            <img src="" alt="img here">
        </div>
    </div>
    <!-- 4to premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
            <img src="" alt="img here">
        </div>
        <div class="w-full sm:w-1/2 p-6 border border-blue-500">
            <h4 class="text-primary font-bold text-4xl uppercase">Cuarto Premio</h4>
        <p class="text-primary text-2xl font-semibold uppercase">mini 3 puertas hatch</p>
        </div>
    </div>
    <!-- 5to premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 border border-green-500">
        <h4 class="text-primary text-right font-bold text-4xl uppercase">Quinto Premio</h4>
        <p class="text-primary text-right text-2xl font-semibold uppercase">motocicleta bmw gs 900 2024</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right border border-blue-500">
            <img src="" alt="img here">
        </div>
    </div>
</div>