---
import hio_1 from '../../../src/img/PREMIOS/HOLEINONE/SUNSET HILLS DEPTO 203.png';
---

<div class="container mx-auto m-8 ">
    <h1 class="w-full text-center py-16 text-4xl font-normal uppercase tracking-tight leading-none text-primary md:text-4xl lg:text-5xl">premios hole in one</h1>
    <!-- 1er premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 lg:w-2/5 p-4 lg:p-6 grid content-center">
        <h4 class="text-primary md:text-right lg:text-left font-bold text-2xl md:text-4xl lg:text-5xl uppercase">Primer Premio</h4>
        <p class="text-primary md:text-right lg:text-left text-xl md:text-2xl lg:text-3xl font-semibold uppercase">Departamento de Lujo <br> <span class="font-light">Cabo San Lucas, BCS</span></p>
        </div>
        <div class="w-full sm:w-3/5 p-6 text-right order-first md:order-last">
            <div class="w-full">
                <div class="grid grid-cols-6 col-span-2 gap-2">
                    <div class="overflow-hidden col-span-6 max-h-[14rem]">
                      <img class="h-full w-full object-cover "
                           src="http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/SUNSETHILLSDEPTO203.png"
                           alt="">
                    </div>
                    
                    <div class=" overflow-hidden  col-span-2 max-h-[10rem]">
                      <img class="h-full w-full object-cover "
                           src="http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/depto2.jpg"
                           alt="">
                    </div>
                    <div class=" overflow-hidden  col-span-2 max-h-[10rem]">
                      <img class="h-full w-full object-cover "
                           src="http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/depto3.jpg"
                           alt="">
                    </div>
                    <div class="relative overflow-hidden col-span-2 max-h-[10rem]">
                      <div
                          class="hidden text-white text-xl absolute inset-0  bg-slate-900/80 flex justify-center items-center">
                        + 23
                      </div>
                      <img class="h-full w-full object-cover "
                           src="http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/depto4.jpg"
                           alt="">
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- 2do premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4">
            <div class="h-56 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/BMWSERIES3SEDAN2024.png')]">
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-4 grid content-center">
            <h4 class="text-primary font-bold text-2xl md:text-4xl uppercase">Segundo Premio</h4>
        <p class="text-primary text-xl md:text-2xl font-semibold uppercase">Sedán BMW 2024</p>
        </div>
    </div>
    <!-- 3er premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 grid content-center">
        <h4 class="text-primary md:text-right font-bold text-2xl md:text-4xl uppercase">Tercer Premio</h4>
        <p class="text-primary md:text-right text-xl md:text-2xl font-semibold uppercase">suv bmw x1 2024</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right order-first    md:order-last ">
            <div class="h-56 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/BMWSUVX12024.png')]">
            </div>
        </div>
    </div>
    <!-- 4to premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
            <div class="h-52 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/MINICOOPER3PUERTASHATCH2024.png')]">
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-4 grid content-center">
            <h4 class="text-primary font-bold text-2xl md:text-4xl uppercase">Cuarto Premio</h4>
        <p class="text-primary text-xl md:text-2xl font-semibold uppercase">mini 3 puertas hatch</p>
        </div>
    </div>
    <!-- 5to premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 grid content-center">
        <h4 class="text-primary md:text-right font-bold text-2xl md:text-4xl uppercase">Quinto Premio</h4>
        <p class="text-primary md:text-right text-xl md:text-2xl font-semibold uppercase">motocicleta bmw gs 900 2024</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right order-first md:order-last">
            <div class="h-52 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/BMWF900GSADVENTURE2024.png')]">
            </div>
        </div>
    </div>
</div>