---
import hio_1 from '../../../src/img/PREMIOS/HOLEINONE/SUNSET HILLS DEPTO 203.png';
---

<div class="container mx-auto m-8 ">
    <h1 class="w-full text-center py-8 text-4xl font-normal uppercase tracking-tight leading-none text-primary md:text-4xl lg:text-5xl">premios hole in one</h1>
    <!-- 1er premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 grid content-center">
        <h4 class="text-primary md:text-right font-bold text-2xl md:text-4xl uppercase">Primer Premio</h4>
        <p class="text-primary md:text-right text-xl md:text-2xl font-semibold uppercase">Departamento de Lujo <br> Cabo San Lucas, BCS</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right order-first md:order-last">
            <div class="h-40 grid place-items-center content-center bg-center bg-no-repeat bg-cover bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/SUNSETHILLSDEPTO203.png')]">
            </div>
        </div>
    </div>
    <!-- 2do premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6">
            <div class="h-40 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/BMWSERIES3SEDAN2024.png')]">
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-4 grid content-center">
            <h4 class="text-primary font-bold text-2xl md:text-4xl uppercase">Segundo Premio</h4>
        <p class="text-primary text-xl md:text-2xl font-semibold uppercase">Sedán BMW 2024</p>
        </div>
    </div>
    <!-- 3er premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 grid content-center">
        <h4 class="text-primary md:text-right font-bold text-2xl md:text-4xl uppercase">Tercer Premio</h4>
        <p class="text-primary md:text-right text-xl md:text-2xl font-semibold uppercase">suv bmw x1 2024</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right order-first    md:order-last ">
            <div class="h-40 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/BMWSUVX12024.png')]">
            </div>
        </div>
    </div>
    <!-- 4to premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
            <div class="h-40 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/MINICOOPER3PUERTASHATCH2024.png')]">
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-4 grid content-center">
            <h4 class="text-primary font-bold text-2xl md:text-4xl uppercase">Cuarto Premio</h4>
        <p class="text-primary text-xl md:text-2xl font-semibold uppercase">mini 3 puertas hatch</p>
        </div>
    </div>
    <!-- 5to premio -->
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 grid content-center">
        <h4 class="text-primary md:text-right font-bold text-2xl md:text-4xl uppercase">Quinto Premio</h4>
        <p class="text-primary md:text-right text-xl md:text-2xl font-semibold uppercase">motocicleta bmw gs 900 2024</p>
        </div>
        <div class="w-full sm:w-1/2 p-6 text-right order-first md:order-last">
            <div class="h-40 grid place-items-center content-center bg-center bg-no-repeat bg-contain bg-[url('http://www.dev.torneodegolf.landandbuilding.com/img/PREMIOS/HOLEINONE/BMWF900GSADVENTURE2024.png')]">
            </div>
        </div>
    </div>
</div>