<div class="container mx-auto m-8 py-8">
    <div class="flex flex-wrap align-middle justify-center mb-8">
        <h4 class="text-white font-bold text-3xl md:text-5xl">11 de Mayo del 2024</h4>
    </div>
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
        <p class="text-white">Modalidad</p>
        <h4 class="text-white font-bold text-3xl">Stroke Play, Foursome</h4>
        </div>
        <div class="w-full sm:w-1/2 p-4 md:text-right  ">
            <p class="text-white">Escopetazo de salida</p>
            <h4 class="text-white font-bold text-3xl">09:30 HRS</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
        <p class="text-white">Fiesta</p>
        <h4 class="text-white font-bold text-3xl">Cena, Premiación y Música en vivo</h4>
        </div>
        <div class="w-full sm:w-1/2 p-4 md:text-right  ">
            <p class="text-white">Campo de Golf</p>
            <h4 class="text-white font-bold text-3xl">Cabo Real</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
        <p class="text-white">Invitada Especial</p>
        <h4 class="text-white font-bold text-3xl">Lorena Ochoa</h4>
        </div>
        <div class="w-full sm:w-1/2 p-4 md:text-right  ">
            <p class="text-white">Ciudad</p>
            <h4 class="text-white font-bold text-3xl">Los Cabos, BCS</h4>
        </div>
    </div>
</div>