<div class="container mx-auto m-8 py-8 w-full md:w-2/3">
    <div class="flex flex-wrap align-middle justify-center mb-8">
        <h4 class="text-primary font-bold text-3xl md:text-5xl">Programa Oficial</h4>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4 md:text-center">
            <h4 class="text-primary font-bold text-3xl ">08:00 <sup>AM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Desayuno/Snack de Bienvenida</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-x-2 border-b-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary md:text-center font-bold text-3xl">08:30 <sup>AM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Registro Jugadores y Sport Check Up por Hospiten</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-x-2 border-b-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary font-bold text-3xl md:text-center">09:30 <sup>AM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Comienza Torneo de Golf</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-x-2 border-b-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary font-bold text-3xl md:text-center">03:00 <sup>PM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Comida – Concierto Totoy</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-x-2 border-b-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary font-bold text-3xl md:text-center">04:00 <sup>PM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Subasta por Casa de Subastas Morton</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-x-2 border-b-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary font-bold text-3xl md:text-center">05:00 <sup>PM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Rifas y Premiaci&oacute;n</h4>
        </div>
    </div>
    <div class="flex flex-wrap align-middle justify-center border-x-2 border-b-2 border-gray-200">
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary font-bold text-3xl md:text-center">07:00 <sup>PM</sup></h4>
        </div>
        <div class="w-full sm:w-1/2 p-4">
            <h4 class="text-primary text-3xl">Termina el evento</h4>
        </div>
    </div>
    
</div>