---
import Platinum from '../Sponsors/Platinum.astro';
import Silver from '../Sponsors/Silver.astro';
import Hole from '../Sponsors/Hole.astro';
import Institutionals from '../Sponsors/Institutionals.astro';
import Gold from '../Sponsors/Gold.astro';
---

<div class="container mx-auto m-8">
    <h1 class="w-full text-center pt-16 pb-6 text-4xl font-normal uppercase tracking-tight leading-none text-white md:text-4xl lg:text-5xl">Presentado por:</h1>
    <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
    <!-- Platino -->
    <Platinum />
    <!-- Oro -->
    <Gold />
    <!-- Plata -->
    <Silver />
    <!-- Hoyo -->
    <Hole />
    <!-- INSTITUCIONALES -->
    <Institutionals />    
</div>