<div class="container mx-auto m-8 ">
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
            <div class=" h-80 grid place-items-center content-center">
                <img src="" alt="Cabo real golf club">
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-6 ">
            <div class="block max-w-xl p-6 bg-primary border border-gray-200 rounded-lg shadow">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white text-center">Bienvenido</h5>
            <p class="font-normal md:text-xl text-justify text-white leading-none">Para todo el equipo de Land & Building es un placer invitarlos al paraíso del golf en México, Los Cabos!!!
                Acompáñanos a disfrutar con el mejor clima del año este torneo de golf presentado por los mejores patrocinadores del desarrollo en el destino, con un fin muy especial, ayudar a los jóvenes estudiantes que necesitan de nuestro apoyo, sean bienvenidos y nos vemos en el campo.</p>
                <p class="pt-5 text-xl text-right text-white">Ricardo Reyes</p>
                <p class="text-right text-white text-xs">CEO de Land & Building</p>
            </div>
    
        </div>
    </div>
</div>