<div class="container mx-auto m-8 ">
    <div class="flex flex-wrap align-middle justify-center">
        <div class="w-full sm:w-1/2 p-4 lg:p-6 ">
            <div class=" h-96 grid place-items-center content-center">
                <video class="w-full h-auto max-w-full" controls poster="https://dev.torneodegolf.landandbuilding.com/img/spot_torneodegolf_poster.png">
                    <source src="https://dev.torneodegolf.landandbuilding.com/vdo/spot_torneodegolf_F3.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
            </div>
        </div>
        <div class="w-full sm:w-1/2 p-3">
            <div class="block max-w-3xl p-9 bg-primary border border-gray-200 rounded-lg shadow">
            <h1 class="mb-2 text-3xl font-normal text-white text-center uppercase">Bienvenido</h1>
            <p class="font-normal md:text-xl text-justify text-white leading-none">Para todo el equipo de Land & Building es un placer invitarlos al paraíso del golf en México, <strong> ¡Los Cabos!</strong>
                </p>
                <p class="font-normal md:text-xl text-justify text-white py-2">Acompáñanos a disfrutar con el mejor clima del año este torneo de golf presentado por los mejores patrocinadores del desarrollo en el destino, con un fin muy especial, ayudar a los jóvenes estudiantes que necesitan de nuestro apoyo.</p>
                <p class="font-normal md:text-xl text-justify text-white py-2">Sean bienvenidos y nos vemos en el campo.</p>
                <h1 class="pt-3 text-2xl text-right text-white">Ricardo Reyes</h1>
                <p class="text-right text-white text-xs">CEO de Land & Building</p>
            </div>
        </div>
    </div>
</div>