---
import Header from '../components/widgets/Header.astro';
import Footer from '../components/widgets/Footer.astro';
import Hero from '../components/widgets/Hero.astro';
import Card from '../components/widgets/Card.astro';
import Cards from '../components/widgets/Cards.astro';
import Intro from '../components/widgets/Intro.astro';
import Welcome from '../components/widgets/Welcome.astro';
import Schedule from '../components/widgets/Schedule.astro';
import Cause from '../components/widgets/Cause.astro';
import Hio from '../components/widgets/Hio.astro';
import Bestscores from '../components/widgets/Bestscores.astro';
import Caboreal from '../components/widgets/Caboreal.astro';
import Sponsors from '../components/widgets/Sponsors.astro';
// Component Imports
import 'aos/dist/aos.css';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>1er Torneo de Golf Land & Building 2024</title>
		<!-- -->
		<meta name="author" content="Ko2m0 for Land&Building">
		<meta name="description" 
          content="Un exclusivo evento que reúne a destacados desarrolladores inmobiliarios en el impresionante escenario de Cabo San Lucas. Únete a nosotros para una experiencia inolvidable de golf de lujo, networking empresarial y oportunidades de inversión en el paraíso.">
		  <meta name="keywords" 
          content="torneo de golf, Land&Building, desarrolladores inmobiliarios, Cabo San Lucas, golf de lujo, networking empresarial, inversiones inmobiliarias, exclusivo evento, golf en México, Robert Trent Jones Jr.">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
		<!-- -->
		<!-- -->
<meta property="og:title" content="1er Torneo de Golf de desarrolladores Land&Building 2024" />
<meta property="og:description" content="Un exclusivo evento que reúne a destacados desarrolladores inmobiliarios en el impresionante escenario de Cabo San Lucas. Únete a nosotros para una experiencia inolvidable de golf de lujo, networking empresarial y oportunidades de inversión en el paraíso." />
<meta property="og:url" content="https://torneodegolf.landandbuilding.com/" />
<meta property="og:image" content="https://dev.torneodegolf.landandbuilding.com/img/metaog_imgcvr.jpg" />
<!-- -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body class="antialiased text-default tracking-tight">
		<div class="w-full overflow-x-hidden">
			<header class="container-full bg-primary">
				<div class="container mx-auto">
					<Header />
				</div>
			</header>
			
			<main class="container-full bg-gray-100">
				<Hero />
				<section class="bg-primary">
					<Intro />
				</section>
				<section>
					<Welcome />
				</section>
				<section class="bg-primary">
					<Schedule />
				</section>
				<section>
					<Cause />
				</section>
				<section>
					<Hio />
				</section>
				<section class="bg-primary">
					<Bestscores />
				</section>
				<section>
					<Caboreal />
				</section>
				<section class="bg-primary">
					<Sponsors />
				</section>
				<Cards />
				<section class="bg-primary hidden">
					<Card />
				</section>
			</main>
	
			<footer class="container-full bg-primary">
				<Footer />
			</footer>	
		</div>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
		<script>
			import { aosInit } from "../js/aos";
			// runs on initial page load
			aosInit();
		  </script>
	</body>
</html>
