---
import Header from '../components/widgets/Header.astro';
import Footer from '../components/widgets/Footer.astro';
import Hero from '../components/widgets/Hero.astro';
import Card from '../components/widgets/Card.astro';
import Cards from '../components/widgets/Cards.astro';
import Intro from '../components/widgets/Intro.astro';
import Welcome from '../components/widgets/Welcome.astro';
import Schedule from '../components/widgets/Schedule.astro';
import Cause from '../components/widgets/Cause.astro';
import Hio from '../components/widgets/Hio.astro';
import Bestscores from '../components/widgets/Bestscores.astro';
import Caboreal from '../components/widgets/Caboreal.astro';
import Sponsors from '../components/widgets/Sponsors.astro';
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>1er Torneo de Golf Land & Building 2024</title>
	</head>

	<body class="antialiased text-default tracking-tight">
		<div class="w-full overflow-x-hidden">
			<header class="container-full bg-primary">
				<div class="container mx-auto">
					<Header />
				</div>
			</header>
			
			<main class="container-full bg-gray-100">
				<Hero />
				<section class="bg-primary">
					<Intro />
				</section>
				<section>
					<Welcome />
				</section>
				<section class="bg-primary">
					<Schedule />
				</section>
				<section>
					<Cause />
				</section>
				<section>
					<Hio />
				</section>
				<section class="bg-primary">
					<Bestscores />
				</section>
				<section>
					<Caboreal />
				</section>
				<section class="bg-primary">
					<Sponsors />
				</section>
				<Cards />
				<section class="bg-primary">
					<Card />
				</section>
			</main>
	
			<footer class="container-full bg-primary">
				<Footer />
			</footer>	
		</div>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
