---
import '../assets/styles/tailwind.css';
import 'aos/dist/aos.css';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		<title>{content.title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!-- -->
<meta property="og:title" content="1er Torneo de Golf de desarrolladores Land&Building 2024" />
<meta property="og:description" content="Un exclusivo evento que reúne a destacados desarrolladores inmobiliarios en el impresionante escenario de Cabo San Lucas. Únete a nosotros para una experiencia inolvidable de golf de lujo, networking empresarial y oportunidades de inversión en el paraíso." />
<meta property="og:url" content="https://torneodegolf.landandbuilding.com/" />
<meta property="og:image" content="https://dev.torneodegolf.landandbuilding.com/img/metaog_imgcvr.jpg" />
<!-- -->
	</head>
	<body class="antialiased text-default tracking-tight">
		<slot />
		<img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=965532645165816&ev=PageView&noscript=1"
	/>
		<script>
			import { aosInit } from "../js/aos";
			aosInit();
		</script>
		  <!-- -->
		  <script is:inline>
				!function(f,b,e,v,n,t,s)
				{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
				fbq('init', '965532645165816');
				fbq('track', 'PageView');
		  </script>
		  <!-- -->
	</body>
</html>
<style is:global>
	html {
		font-family: "Montserrat", sans-serif;
	}
</style>
