---
import pat_plat_1 from '../../../src/img/PLATINO/grupohersa_white_1.svg';
import pat_plat_2 from '../../../src/img/PLATINO/pixan_white_1.svg';
import pat_plat_3 from '../../../src/img/PLATINO/irm_white_1.svg';
---
<div class="py-2">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div class="grid place-items-center content-center" data-aos="zoom-in">
          <img class="max-w-sm lg:max-w-md object-fit hover:-0 flex align-middle justify-center" src={pat_plat_1.src} alt="Grupo Hersa Patrocinador">
          <div class="w-full text-center flex flex-col align-middle items-center justify-center">
              <a href="https://grupohersa.mx/" target="_blank" class="appearance-none"><svg class="w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                </svg>
                </a>
          </div>
      </div>
      <!-- -->
      <div class="grid place-items-center content-center" data-aos="zoom-in">
        <img class="max-w-sm lg:max-w-sm object-fit hover:-0 flex align-middle justify-center" src={pat_plat_3.src} alt="IRM Leasing Group">
        <div class="w-full text-center flex flex-col align-middle items-center justify-center">
            <a href="https://www.irmleasing.com/" target="_blank" class="appearance-none"><svg class="w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
              </svg>
              </a>
        </div>
    </div>
      <!-- PLATINO 3 -->
      <div class="grid place-items-center content-center">
          <img class="max-w-sm lg:max-w-sm object-fit hover:-0 flex align-middle justify-center" src={pat_plat_2.src} alt="Pixan">
          <div class="w-full text-center flex flex-col align-middle items-center justify-center">
              <a href="" target="_blank" class="appearance-none "><svg class="w-6 h-6 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                </svg>
                </a>
          </div>
      </div>
  </div>
  </div>